<div class="view">
    <div class="container">
        <div *ngIf="loginVisible">
            <header>
                <h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
            </header>
            <br />
            <button class="btn btn-default" (click)="login()">Login</button>    
        </div>
        <div *ngIf="grantConsentVisible">
            <header>
                <h3><span class="glyphicon glyphicon-lock"></span> Grant Consent</h3>
            </header>
            <br />
            <button class="btn btn-default" (click)="grantConsent()">Grant Consent</button>    
        </div>
    </div>
</div>